{% macro render_paging(args) %}
  {% if args.total_count > 0 %}
    <ul>
      {% if args.cur_page > args.button_count %}
        <li><a href="{{ args.link }}page=1">처음</a></li>
        <li><a href="{{ args.link }}page={{ args.prev_page }}">이전</a></li>
      {% endif %}

      {% for i in args.start_page .. args.end_page %}
        {% if i == args.cur_page %}
          <li><a class="disabled btn-danger">{{ i }}</a></li>
        {% else %}
          <li><a href="{{ args.link }}page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if args.show_next_last %}
        <li><a href="{{ args.link }}page={{ args.next_page }}">다음</a></li>
        <li><a href="{{ args.link }}page={{ args.total_page }}">끝</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_paging_new(args) %}
  {% if args.total_count > 0 %}
    <ul class="pagination">
      {% if args.cur_page > args.button_count %}
        <li><a href="{{ args.link }}page=1">&nbsp;&laquo;&nbsp;</a></li>
        <li><a href="{{ args.link }}page={{ args.prev_page }}">&nbsp;&lsaquo;&nbsp;</a></li>
      {% endif %}

      {% for i in args.start_page .. args.end_page %}
        {% if i == args.cur_page %}
          <li class="active"><a>{{ i }}</a></li>
        {% else %}
          <li><a href="{{ args.link }}page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if args.show_next_last %}
        <li><a href="{{ args.link }}page={{ args.next_page }}">&nbsp;&rsaquo;&nbsp;</a></li>
        <li><a href="{{ args.link }}page={{ args.total_page }}">&nbsp;&raquo;&nbsp;</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endmacro %}