<div class="panel panel-default hidden-xs hidden-sm hidden-md" style="padding: 10px;">{#데스크탑 사이즈#}
  <h4>Ridibooks CMS</h4>
  <select class="form-control menu_select">
    <option></option>
    {% for menu in menus %}
      {% if menu.menu_deep == 0 %}
        <option value="{{ menu.menu_url }}" disabled="disabled">{{ menu.menu_title }}</option>
      {% else %}
        <option value="{{ menu.menu_url }}">{{ menu.menu_title }}</option>
      {% endif %}
    {% endfor %}
  </select>

  <ul class="nav nav-pills nav-stacked">
    {% set pre_menu = '' %}
    {% for menu in menus %}

      {% if pre_menu.menu_deep is defined %}
        {% if pre_menu.menu_deep < menu.menu_deep %}
          {% for d in 1..(menu.menu_deep - pre_menu.menu_deep) %}
            <ul id="drilldown-{{pre_menu.id}}" class="nav nav-pills nav-stacked collapse in" style="padding-left: 15px;">
          {% endfor %}
        {% elseif pre_menu.menu_deep > menu.menu_deep %}
          {% for d in 1..(pre_menu.menu_deep - menu.menu_deep) %}
            </ul>
            {% if menu.menu_deep == 0 %}
              <hr style="margin: 0;"/>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}

      {% if REQUEST_PATH == menu.menu_url %}
        <li class="active">
      {% else %}
        <li
        {# TODO AuthService refactoring 할때 고려할 것(실제로 menu에 사용되는 data만 내려줄 것) #}
        {% for ajax in menus.ajax_array %}
          {% if REQUEST_PATH == ajax.ajax_url %}
            class="active"
          {% endif %}
        {% endfor %}
        >
      {% endif %}

      {% if menu.menu_url == '#' %}
        <h5 style="margin: 10px 15px;"><a data-toggle="collapse" data-target="#drilldown-{{menu.id}}">{{ menu.menu_title }}</a></h5>
      {% else %}
        <a href="{{ menu.menu_url }}" {% if menu.is_newtab %}target="_blank"{% endif %}>{{ menu.menu_title }}</a>
      {% endif %}

      {% set pre_menu = menu %}
      </li>
    {% endfor %}

    {% if pre_menu.menu_deep > 0 %}
    {% for d in 1..pre_menu.menu_deep %}
  </ul>
  <hr style="margin: 0;"/>
  {% endfor %}
  {% endif %}
  <ul class="nav nav-pills nav-stacked" style="padding-left: 15px;">
    {% if REQUEST_PATH == '/me' %}
    <li class="active">
  {% else %}
    <li>
      {% endif %}
      <a href="/me">개인정보 수정</a>
    </li>

    {% if REQUEST_PATH == '/logout' %}
    <li class="active">
      {% else %}
    <li>
      {% endif %}
      <a href="/logout">Logout</a>
    </li>
  </ul>
</div>
<div class="hidden-lg">{#타블렛, 핸드폰 사이즈#}
  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <div class="col-xs-4">
        <h1 class="panel-title">Ridibooks CMS</h1>
      </div>

      <div class="col-xs-8">
        <select class="form-control menu_select">
          <option></option>
          {% for menu in menus %}
            {% if menu.menu_deep == 0 %}
              <option value="{{ menu.menu_url }}" disabled="disabled">{{ menu.menu_title }}</option>
            {% else %}
              <option value="{{ menu.menu_url }}">{{ menu.menu_title }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
