{% extends 'index_new.twig' %}
{% block title %}
  어드민 유저 상세
{% endblock %}

{% block script %}
  <script>
    requirejs(
      ["jquery", "comm/common", "comm/jquery.cp_user"],
      function ($, common) {
        $(function () {
          loadPermissions();

          initManagingCps();

          // 유저 정보 저장
          $("#btn_info_save").click(function () {
            const $form = $('form');
            const id = $form.find('[name=id]').val();

            if ($form[0].checkValidity()) {
              $form.submit();
            }
          });

          $('#js_delete_admin').click(function (e) {
            if (!confirm('삭제하시겠습니까?')) {
              return;
            }

            $.ajax('/super/users/{{ userDetail.id }}',
              {
                type: 'delete',
                success: function () {
                  alert('성공적으로 삭제되었습니다.');
                  history.back();
                },
                error: function (xhr, status, e) {
                  alert(e);
                }
              }
            );
          });
        });

        function loadPermissions() {
          const $form = $('form[id=permissions]');

          // 태그 관리
          loadAssignedTags($form.find('[name=tag_ids]'));

          // 메뉴 관리
          loadAssignedMenus($form.find('[name=menu_ids]'));
        }

        function loadAssignedTags($tagSelect) {
          $.ajax({
            url: '/super/tags',
            accepts: {
              json: 'application/json'
            },
            dataType: 'json',
            beforeSend: function () {
              common.setProgressBar($tagSelect);
            },
            success: function (data) {
              $tagSelect.select2({
                multiple: true,
                placeholder: '태그를 지정하세요',
                tokenSeparators: [',', ' '],
                data: data.map((tag) => {
                  return { id: tag.id, text: tag.name };
                })
              });
              common.removeProgressBar($tagSelect);
            },
            error: function (xhr, status, e) {
              alert(e);
            },
          });
        }

        function loadAssignedMenus($menuSelect) {
          $.ajax({
            url: '/super/menus',
            accepts: {
              json: 'application/json'
            },
            dataType: 'json',
            beforeSend: function () {
              common.setProgressBar($menuSelect);
            },
            success: function (data) {
              $menuSelect.select2({
                multiple: true,
                placeholder: '메뉴를 지정하세요',
                tokenSeparators: [',', ' '],
                data: data.map((menu) => {
                  const menu_url_array = menu.menu_url.split('#');
                  const text = menu.menu_title + (menu_url_array[1] ? '#' + menu_url_array[1] : '');
                  return { id: menu.id, text: text };
                })
              });
              common.removeProgressBar($menuSelect);
            },
            error: function (xhr, status, e) {
              alert(e);
            },
          });
        }

        function initManagingCps() {
          const $form = $('form[id=managing-cps]');

          // 제휴CP 관리
          setManagingCpList($form.find('[name=partner_cp_ids]'), 2);

          // 운영CP 관리
          setManagingCpList($form.find("[name=operator_cp_ids]"), 3);

          // 제작CP 관리
          setManagingCpList($form.find("[name=production_cp_ids]"), 1);

          // 관리 CP 정보 저장
          $('#js_cp_update').click(function () {
            updateManagingCps($form.serializeArray());
          });
        }

        function setManagingCpList(target, type) {
          const data = {
            id: '{{ admin_id }}',
            type: type
          };

          $.ajax({
            url: '/admin/publisher/managers.ajax',
            data: data,
            dataType: 'json',
            cache: false,
            success: function (res) {
              target.attr('value', res);
              target.setCpUserMultipleSelect2();
            },
            error: function (xhr) {
              alert(xhr.responseText);
            }
          });
        }

        function updateManagingCps(data) {
          $.ajax({
            type: 'POST',
            url: '/admin/publisher/managers.update.ajax',
            data: data,
            cache: false,
            success: function (res) {
              if (res.success) {
                alert('성공적으로 업데이트 되었습니다.');
              } else {
                alert(res.message);
              }
            },
            error: function (xhr) {
              alert(xhr.responseText);
            }
          });
        }
      }
    );
  </script>
{% endblock %}
{% block body %}
  <form class="form-horizontal" method="POST">
    <input type="hidden" name="update" value="{{ userDetail.id ? "true" }}"/>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">유저 정보 관리</h4>
        </div>
        <div class="panel-body">
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">ID</label>
            <div class="col-xs-10">
              <input type="text" name="id" class="form-control" value="{{ userDetail.id }}" {{ userDetail.id ? "disabled" }} required/>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">비밀번호</label>
            <div class="col-xs-10">
              <input type="password" name="passwd" class="form-control"/>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">이름</label>
            <div class="col-xs-10">
              <input type="text" name="name" class="form-control" value="{{ userDetail.name }}" required/>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">팀</label>
            <div class="col-xs-10">
              <input type="text" name="team" class="form-control" value="{{ userDetail.team }}" required>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">사용여부</label>
            <div class="col-xs-10">
              <select name="is_use" class="form-control">
                <option value='1' {% if userDetail.is_use == 1 %}selected="selected"{% endif %}>Y</option>
                <option value='0' {% if userDetail.is_use == 0 %}selected="selected"{% endif %}>N</option>
              </select>
            </div>
          </div>

          <div class="btn-group btn-group-sm pull-right">
            <button type="submit" class="btn btn-default" id="btn_info_save"><i class="glyphicon glyphicon-file"></i> 저장</button>
            <button type="reset" class="btn btn-default"><i class="glyphicon glyphicon-repeat"></i> 취소</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="col-xs-12 col-md-6">
    <form class="form-horizontal" id="permissions" action="/super/users/{{ userDetail.id }}/permissions" method="POST">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">유저 권한 관리</h4>
        </div>
        <div class="panel-body">
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">태그</label>
            <div class="col-xs-10">
              <input type="hidden" name="tag_ids" class="form-control select2-offscreen" value="{{ userTag }}"/>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">메뉴</label>
            <div class="col-xs-10">
              <input type="hidden" name="menu_ids" class="form-control select2-offscreen" value="{{ userMenu }}"/>
            </div>
          </div>

          <div class="btn-group btn-group-sm pull-right">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-file"></i> 저장</button>
          </div>
        </div>
      </div>
    </form>

    <form class="form-horizontal" id="managing-cps" method="POST">
      <input type="hidden" name="user_id" value="{{ userDetail.id }}">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">담당 CP 관리</h4>
        </div>

        <div class="panel-body">
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">제휴담당 CP</label>
            <div class="col-xs-10">
              <input type="hidden" name="partner_cp_ids" class="form-control select2-offscreen"/>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">운영담당 CP</label>
            <div class="col-xs-10">
              <input type="hidden" name="operator_cp_ids" class="form-control select2-offscreen"/>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">제작 CP</label>
            <div class="col-xs-10">
              <input type="hidden" name="production_cp_ids" class="form-control select2-offscreen"/>
            </div>
          </div>

          <div class="btn-group btn-group-sm pull-right">
            <a id="js_cp_update" class="btn btn-default"><i class="glyphicon glyphicon-file"></i> 저장</a>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-xs-12 pull-right">
    <a id="js_delete_admin" class="btn btn-default btn-danger pull-right">삭제</a>
  </div>

{% endblock %}
