{% extends 'index_newer.twig' %}

{% block title %}
  어드민 유저 관리
{% endblock %}

{% block body %}
  <div class="col-xs-12 marginBottom10">
    <form class="form-inline text-right">
      <div class="form-group form-group-sm">
        <div class="input-group input-group-sm">
          <input class="form-control" id="search_text" name="search_text" type="text" placeholder="ID / 이름" value="{{ search_text }}">
          <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
        </div>
        <a href="/super/users/new" class="btn btn-primary input-sm"><i class="glyphicon glyphicon-save"></i> 등록</a>
      </div>
    </form>
  </div>

  <table class="table table-bordered table-hover" id="admin_user_table">
    <colgroup>
      <col width="150"/>
      <col width=""/>
      <col width="150"/>
      <col width="80"/>
    </colgroup>
    <thead>
    <tr>
      <th>계정 ID</th>
      <th>이름</th>
      <th>팀</th>
      <th>사용여부</th>
    </tr>
    </thead>
    <tbody>
    {% if admin_user_list is empty %}
      <tr>
        <td colspan="4" class="center">등록된 어드민 계정이 없습니다.</td>
      </tr>
    {% endif %}
    {% for admin_user in admin_user_list %}
      <tr {% if admin_user.is_use == 0 %}class="danger"{% endif %}>
        <td>{{ admin_user.id }}</td>
        <td><a href="/super/users/{{ admin_user.id }}">{{ admin_user.name }}</a></td>
        <td>{{ admin_user.team }}</td>
        <td>{{ admin_user.is_use == 1? 'Y' : 'N' }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <nav class="text-center">
    {% import 'macros/paging.macro.twig' as paging_macro %}
    {{ paging_macro.render_paging_new(paging) }}
  </nav>
{% endblock %}
